@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.inputdiv {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
}

.inputname {
  width: 327px;
  height: 45px;
  border-radius: 10px;
  border-color: gray;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: gray;
  outline: none;
  border: 1.5px solid var(--light-grey, #dfdee0);
  padding-left: 5px;
}

.cardholderdiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardnumber {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
}

.inputnumber {
  width: 327px;
  height: 45px;
  border-radius: 10px;
  border-color: gray;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: gray;
  border: 1.5px solid var(--light-grey, #dfdee0);
  padding-left: 5px;
  outline: none;
}

.cardnumberdiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carddate {
  font-family: "Space Grotesk";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: left;
}

.mm {
  width: 72px;
  height: 45px;
  border-radius: 10px;
  border-color: grey;
  font-family: " Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 5px;
  border: 1.5px solid var(--light-grey, #dfdee0);
  outline: none;
}

.yy {
  width: 72px;
  height: 45px;
  border-radius: 10px;
  border-color: grey;
  font-family: " Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 5px;
  border: 1.5px solid var(--light-grey, #dfdee0);
  outline: none;
}

.cvc1 {
  width: 164px;
  height: 45px;
  border-radius: 10px;
  border-color: grey;
  font-family: " Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 5px;
  border: 1.5px solid var(--light-grey, #dfdee0);
  outline: none;
}

input::placeholder {
  opacity: 0.25;
}
.datediv {
  display: flex;
  gap: 10px;
}

.carddatediv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 327px;
  height: 53px;
  background-color: #21092f;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: #4e176d;
}

@media (min-width: 1040px) {
  .backgroundimage {
    position: relative;
  }
  .inputdiv {
    position: absolute;
    top: 100px;
    left: 700px;
  }
}
